.sidebarBigStyle {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 15px;
  height: 100%;
  position: fixed;
  color: aliceblue;
  border: 5px solid rgb(44, 39, 48);
}


.LinkStyle {
  color: black;
  text-decoration: none;
  padding: 10px;
  color: aliceblue;
}

.LinkStyle:hover {
  background-color: bisque;
  border-radius: 5px;
  color: black;
}

.menu {
  display: none;
}

/* Media query for phones or smaller devices */
@media screen and (max-width:1024px) {
  /* Adjust the max-width according to your desired phone screen size */
  .menu {
    display: flex;
    justify-content: center;
  }
  .sidebarBigStyle {
    display: none;
  }

  .SideBarSmallMenu {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    border: 5px solid rgb(44, 39, 48);
    color: black;
    text-decoration: none;
    color: aliceblue;
    animation: slideDown 0.3s ease forwards;
  }
  .closeButton{
    position: absolute;
    left: 0px;
    top:0px;
    font-size: 40px !important;
    color: rgb(253, 3, 3);
    cursor: pointer;
}
.hamberger{
    cursor: pointer;
  }
@keyframes slideDown {
    from {
      transform: translateY(-100%); /* Starting position off-screen */
    }
    to {
      transform: translateY(0); /* Ending position on-screen */
    }
  }
}

 


