.main-div {
  font-family: Nazanin;
  width: 80%;
  margin-right: 10%;
  margin-top: 2%;
  background-color: rgb(115, 115, 253);
  padding: 40px;
  border-radius: 10px;

}

.maindivDark {
  width: 80%;
  margin-right: 10%;
  margin-top: 2%;
  background-color:	#182c25;
  padding: 40px;
  border-radius: 10px;
  color: aqua;
}
.titleAdd {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  bottom: 35px;
}

.toastBodyStyle {
  background-color:blue;
  color: azure;

  

}

.tostmainStyle{
  position: absolute;
  top: 91%;
  right: 12%;
}