/* App.css */
*{
  font-family: Nazanin;
  font-weight: bold;
  font-size: 18px;
  
  
}
.flex-row {
  display: flex;
  flex-direction: row;
 

}



/* Reset margin and padding for Row and Col */

.flex-row > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.sidebarCss{
  height: 100vh !important;

}

