@font-face {
  font-family: "nanodownload";
  src: url("./Fonts/TitanOne-Regular.ttf") format("truetype"); /* Path to your Farsi font file */
  /* You can add different file formats (WOFF, WOFF2, etc.) for cross-browser compatibility */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "macondo";
  src: url("./Fonts/Macondo-Regular.ttf") format("truetype"); /* Path to your Farsi font file */
  /* You can add different file formats (WOFF, WOFF2, etc.) for cross-browser compatibility */
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: "worksans";
    src: url("./Fonts/WorkSans-VariableFont_wght.ttf") format("truetype"); /* Path to your Farsi font file */
    /* You can add different file formats (WOFF, WOFF2, etc.) for cross-browser compatibility */
    font-weight: normal;
    font-style: normal;
  }

@font-face {
  font-family: Nazanin;
  src: url('./Fonts/Far_Nazanin.ttf');
}
  
@font-face {
  font-family: MjNaskh;
  src: url('./Fonts/Mj_Naskh\ Titr.ttf');
}

@font-face {
  font-family: Mohammad;
  src: url('./Fonts/Mj_Mohammad.ttf');
}